$font-base: "Montserrat", "sans-serif";
$font-popins: "Poppins", "sans-serif";
$font-roboto: "Roboto", "sans-serif";

$text-darkGrey: #53524d;
$color-medBlue: #0072bb;
$color-grey: #555555;
$color-brightSalmon: #fb4e64;
$color-darkGrey: #53524d;
$color-brightCyan: #00b2ff;
$color-bg-darkGrey: #272725;

$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;
$screen-xlg: 1280px !default;
$screen-max: 1440px !default;
